<section>
	<h1 class="text-2xl font-bold text-center">Welcome to Tasks App</h1>
	<p-divider />
	<div class="md:grid md:grid-cols-3 gap-5">
		<div class="col-span-1">
			<button pButton class="w-full" severity="info" (click)="onNewTask()">Add new Task</button>
			<atm-task-form [title]="titleForm()" [action]="actionForm()" [currentTask]="taskSelected()" />
		</div>
		<div class="col-span-2 mt-4 sm:mt-0">
			<atm-task-table [tasks]="tasks()" (updateCurrentTask)="onUpdateTask($event)" />
		</div>
	</div>
</section>
