@use 'tailwindcss';

:root {
	--error-color: #dc3545;
	--border-input: 1px;
}

select.ng-invalid.ng-touched,
input.ng-invalid.ng-touched,
input.ng-invalid.ng-dirty {
	border: var(--border-input) solid var(--error-color) !important;
}

select.ng-invalid.ng-touched:focus,
input.ng-invalid.ng-touched:focus,
input.ng-invalid.ng-dirty :focus {
	border-color: var(--error-color) !important;
}

input.ng-valid {
	border-color: var(--p-inputtext-focus-border-color) !important;
}
