<p-table [value]="tasks()">
	<ng-template #header>
		<tr>
			<th>Title</th>
			<th>Description</th>
			<th>CreatedAt</th>
			<th>Completed</th>
			<th>Actions</th>
		</tr>
	</ng-template>
	<ng-template #body let-task>
		<tr>
			<td>{{ task.title }}</td>
			<td>{{ task.description }}</td>
			<td>{{ task.createdAt }}</td>
			<td>
				<p-toggleswitch
					[ngModel]="task.completed"
					[readonly]="task.completed"
					(onChange)="onChangeStatus($event.checked, task.id)"
				/>
			</td>
			<td>
				<div class="flex gap-3">
					<button pButton severity="info" [disabled]="task.completed" (click)="onUpdateTask(task)">Update</button>
					<button pButton severity="danger" (click)="onDeleteTask(task.id)">Delete</button>
				</div>
			</td>
		</tr>
	</ng-template>
	<ng-template #footer>
		<div class="mt-3">In total there are {{ tasks() ? tasks().length : 0 }} tasks.</div>
	</ng-template>
</p-table>
<p-confirmdialog />
